<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="col-md-5">Username</th>
      <th scope="col">Lock account</th>
      <th scope="col">View history action</th>
    </tr>
  </thead>
  <tbody>
    {{#each manager}}
    <tr>
      <th scope="row">1</th>
      <td class="col-md-5">{{this.userName}}</td>
      <td>
            <input id="toggle-event" type="checkbox" data-toggle="toggle">
      </td>
      <td><a href="/admin/viewHistoryAction/123" type="button" class="btn btn-outline-info">View</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script>
  $(function() {
    $('#toggle-event').change(function() {
      $('#console-event').html('Toggle: ' + $(this).prop('checked'))
    })
  })
</script>