<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Login time</th>
      <th scope="col">Logout time</th>
      <th scope="col">UserID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>"2014-03-14 00:00:00"</td>
      <td>"2014-03-14 00:00:00"</td>
      <td>123</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>"2014-03-14 00:00:00"</td>
      <td>"2014-03-14 00:00:00"</td>
      <td>123</td>
    </tr>
  </tbody>
</table>