<script>
    .custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
    .custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
</script>
<div class="container">
    <div class=" custyle">
    <table class="table table-striped custab">
    <thead>
    <a href="/admin/addHopital" class="btn btn-primary btn-xs pull-right"><b>+</b> Thêm mới khu điều trị/cách ly</a>
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Số lượng</th>
            <th>Địa chỉ</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr>
                <td>1</td>
                <td>Bệnh viện chợ rẫy</td>
                <td>3000/5000</td>
                <td>Phường 24, Bình Thạnh, Hồ Chí Minh</td>
                <td class="text-center"><a class='btn btn-warning btn-xs' href="/admin/updateHopital/123"><span class="glyphicon glyphicon-edit"></span> Sửa</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Bệnh viện chợ rẫy</td>
                <td>3000/5000</td>
                <td>Phường 24, Bình Thạnh, Hồ Chí Minh</td>
                <td class="text-center"><a class='btn btn-warning btn-xs' href="/admin/updateHopital/123"><span class="glyphicon glyphicon-edit"></span> Sửa</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Bệnh viện chợ rẫy</td>
                <td>3000/5000</td>
                <td>Phường 24, Bình Thạnh, Hồ Chí Minh</td>
                <td class="text-center"><a class='btn btn-warning btn-xs' href="/admin/updateHopital/123"><span class="glyphicon glyphicon-edit"></span> Sửa</a></td>
            </tr>
    </table>
    </div>
</div>