<style>
    * {
        padding: 0px;
        margin: 0px;
        font-family: sans-serif;
        box-sizing: border-box;
    }

    .container {
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .login-form {
        width: 100%;
        max-width: 400px;
        margin: 20px auto;
        background-color: #ffffff;
        padding: 15px;
        border: 2px solid #cccccc;
        border-radius: 10px;
    }

    h1 {
        color: #009999;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .input {
        margin-bottom: 10px;
        padding-top: 10px;
    }

    .input input {
        padding: 7.5px 15px;
        width: 100%;
        border: 1px solid #cccccc;
        outline: none;
    }

    .btn {
        text-align: right;
        margin-top: 30px;
    }

    .btn button {
        padding: 7.5px 15px;
        border-radius: 2px;
        background-color: #009999;
        color: #ffffff;
        border: none;
        outline: none;
    }

    .btn-res {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .btn-res button {
        width: 100px;
        padding: 7.5px 15px;
        border-radius: 2px;
        background-color: lightgray;
        color: #ffffff;
        border: none;
        outline: none;
        margin-right: 10px;
        margin-left: 10px;
    }

    .register-form {
        width: 100%;
        max-width: 400px;
        margin: 20px auto;
        background-color: #ffffff;
        padding: 15px;
        border: 2px solid #cccccc;
        border-radius: 10px;
    }

    .add-form {
        width: 100%;
        max-width: 400px;
        margin: 20px auto;
        background-color: #ffffff;
        padding: 15px;
    }

    .card {
        display: flex;
    }
</style>

<div class="login-form">
    <form action="/user/changePassword/{{user.userID}}" method="POST">
        <h1>Đổi Mật Khẩu</h1>
        <div class="form-group">
            <label for="oldPassword">Mật Khẩu Cũ</label>
            <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                placeholder="Nhập Mật Khẩu Cũ">
        </div>
        <div class="form-group">
            <label for="newPassword">Mật Khẩu Mới</label>
            <input type="password" class="form-control" name="newPassword" id="newPassword"
                placeholder="Nhập Mật Khẩu Mới">
        </div>
        <div class="form-group">
            <label for="repeatPassword">Mật Khẩu Mới</label>
            <input type="password" class="form-control" name="repeatPassword" id="repeatPassword"
                placeholder="Xác Nhận Mật Khẩu Mới">
        </div>
        <div class="btn">
            <button type="submit">Đổi mật khẩu</button>
        </div>
    </form>
</div>