<h2>Thông tin đơn hàng</h2>
<div class="row">
    <div class="col-md-12">
        <h5>1) Tổng quan đơn hàng</h5>
        <p>Tổng giá trị đơn hàng: <span>200.000VNĐ</span></p>
        <p>Ngày đặt hàng: <span> 20/03/2022 12:00:00.000</span></p>
        <p>Trạng thái thanh toán: Chưa thanh toán</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>2) Chi tiết đơn hàng</h5>
        <span>Gói 1: Gói nhu yếu phẩm 1</span>
        <p>Số lượng: 2</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giá cả</th>
                    <th scope="col">Đơn vị</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Gạo nếp tẻ</td>
                    <td>2</td>
                    <td>25.000 VNĐ</td>
                    <td>KG</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Thịt bò Mỹ</td>
                    <td>2</td>
                    <td>250.000 VNĐ</td>
                    <td>KG</td>
                </tr>
            </tbody>
        </table>
        <span>Gói 2: Gói nhu yếu phẩm 2</span>
        <p>Số lượng: 1</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giá cả</th>
                    <th scope="col">Đơn vị</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Gạo nếp tẻ</td>
                    <td>2</td>
                    <td>25.000 VNĐ</td>
                    <td>KG</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Thịt bò Mỹ</td>
                    <td>2</td>
                    <td>250.000 VNĐ</td>
                    <td>KG</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="/user/payment/addOrder" class="btn btn-primary">Đặt hàng - Thanh toán</a>
</div>