<h1 style="text-align: center;">Thông Báo Nhắc Thanh Toán</h1>
<tbody>
    <div class="row row-cols-1 row-cols-md-1 g-3">
        <div class="col">
            <div class="card h-100 shadow-sm p-3 bg-white rounded">
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">Thông Tin Người Dùng</h4>
                    <p class="card-text"><strong>Tên Người Dùng</strong>: {{user.userName}}</p>
                </div>
            </div>
        </div>
    </div>
</tbody>