<h3 style="text-align: center;">Thêm Bệnh Nhân</h3>
<form method="post" action="/manager/addPatientHandle">
  <div class="form-group">
    <label for="PatientID">ID Bệnh Nhân</label>
    <input type="text" class="form-control" name="PatientID" id="PatientID" placeholder="Nhập ID Bệnh nhân">
  </div>
  <div class="form-group">
    <label for="Patientname">Họ và tên Bệnh nhân</label>
    <input type="text" class="form-control" name="PatientName" id="PatientName" placeholder="Nhập Họ và Tên bệnh nhân">
  </div>
  <div class="form-group">
    <label for="identityCard">Số CMND/Căn Cước</label>
    <input type="text" class="form-control" name="identityCard" id="identityCard" placeholder="Nhập CMND/Căn Cước">
  </div>
  <div class="form-group">
    <label for="DOB">Ngày tháng năm sinh</label>
    <input type="text" class="form-control" name="DOB" id="DOB" placeholder="Ngày Tháng Năm Sinh">
  </div>
  <div class="form-group">
    <label for="ward">Phường/Xã</label>
    <input type="text" class="form-control" id="ward" name="ward" placeholder="Nhập tên phường/xã">
  </div>
  <div class="form-group">
    <label for="District">Quận/Huyện</label>
    <input type="text" class="form-control" id="District" name="District" placeholder="Nhập tên quận/huyện">
  </div>
  <div class="form-group">
    <label for="province">Tỉnh/Thành phố</label>
    <input type="text" class="form-control" id="province" name="province" placeholder="Nhập tên tỉnh/thành phố">
  </div>
  <div class="form-group">
    <label for="Status">Trạng thái Bệnh nhân</label>
    <input type="text" class="form-control" id="Status" name="Status" placeholder="Nhập Trạng thái Bệnh nhân">
  </div>
  <div class="form-group">
    <label for="hospitalID">Nơi điều trị</label>
    <input type="text" class="form-control" id="hospitalID" name="hospitalID" placeholder="Nhập Trạng thái Bệnh nhân">
  </div>
  <div class="form-group">
    <label for="patient_ref">ID người liên quan</label>
    <input type="text" class="form-control" id="patient_ref" name="patient_ref" placeholder="Nhập Trạng thái Bệnh nhân">
  </div>
  <div class="form-group">
    <label for="NumberID">NumberID</label>
    <input type="text" class="form-control" id="NumberID" name="NumberID" placeholder="Nhập NumberID">
  </div>
  <div class="form-group">
    <label for="userID">userID</label>
    <input type="text" class="form-control" id="userID" name="userID" placeholder="Nhập userID">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>