<h2>Đổi mật khẩu</h2>
<span><span style="color:rgb(0, 81, 255); font-style: italic;">{{success}}</span><br></span>
<form method="post" action="">
  <div class="form-group">
    <label for="oldPassword">Mật khẩu cũ</label>
    <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Nhập mật khẩu cũ">
  </div>
  <div class="form-group">
    <label for="newPassword">Mật khẩu mới</label>
    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Nhập mật khẩu mới">
  </div>
  <div class="form-group">
    <label for="newPasswordAgain">Mật khẩu mới</label>
    <input type="password" class="form-control" id="newPasswordAgain" name="newPasswordAgain" placeholder="Nhập lại mật khẩu mới">
  </div>
  <span style="color:red; font-style: italic;">{{error}}</span><br>
  <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
</form>