<h1>Kiểm tra số dư: </h1>
<p>Thời điểm: <span>{{result.curDate}}</span></p>
<p>Số tài khoản: <span>{{result.accountNumber}}</span></p>
<p>Số dư: <span>{{currency result.accountBalance}}</span></p>

<style>
    span{
        font-weight: bold;
    }
</style>