<h3 style="text-align: center;">Thêm gói sản phẩm</h3>
<form method="post" action="/manager/addPackageHandle">
  
  <div class="form-group">
    <label for="package_Name"> Tên gói sản phẩm</label>
    <input type="text" class="form-control" name="package_Name" id="package_Name"  placeholder="Nhập tên gói sản phẩm">
  </div>
  <div class="form-group">
    <label for="limited_ProductQuantity"> Giới hạn số sản phẩm </label>
    <input type="text" class="form-control" name="limited_ProductQuantity" id="limited_ProductQuantity"  placeholder="Nhập giới hạn sản phẩm">
  </div>
  <div class="form-group">
    <label for="limited_PackageQuantity"> Giới hạn số lượng mua/ thời gian</label>
    <input type="text" class="form-control" name="limited_PackageQuantity" id="limited_PackageQuantity" placeholder=" Nhập giới hạn mua/ thời gian">
  </div>
  <div class="form-group">
    <label for="limited_Time"> Thời gian giới hạn mua</label>
    <input type="text" class="form-control" name="limited_Time" id="limited_Time" placeholder=" nhập thời gian giới hạn mua">
  </div>
  <div class="form-group">
    <label for="imageLink"> Link Ảnh gói nhu yếu phẩm</label>
    <input type="text" class="form-control" name="imageLink" id="imageLink" placeholder=" Link Ảnh Sản Phẩm">
  </div>
  <button type="submit" class="btn btn-primary">Thêm</button>
</form>


