<h3 style="text-align: center;">Thêm sản phẩm</h3>
<form method="post" action="/manager/addProductHandle">
  
  <div class="form-group">
    <label for="productName"> Tên sản phẩm</label>
    <input type="text" class="form-control" name="productName" id="productName" placeholder="Nhập tên sản phẩm">
  </div>
  <div class="form-group">
    <label for="price"> price </label>
    <input type="text" class="form-control" name="price" id="price" placeholder="Nhập giá sản phẩm">
  </div>
  <div class="form-group">
    <label for="Unit">Unit</label>
    <input type="text" class="form-control" name="Unit" id="Unit" placeholder=" Đơn vị tính">
  </div>
  <div class="form-group">
    <label for="Category"> Category</label>
    <input type="text" class="form-control" id="Category" name="Category" placeholder="Danh mục">
  </div>
    <div class="form-group">
    <label for="Image_link"> Hình ảnh</label>
    <input type="text" class="form-control" id="Image_link" name="Image_link" placeholder="Hình ảnh">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>