<h3 style="text-align: center;">Thêm Bệnh Nhân</h3>
<form id="form" method="post" action="/manager/addPatientHandle">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Nhập Username" required>
        <span id="username_error"></span>
      </div>
      <div class="form-group">
        <label for="Patientname">Họ và tên Bệnh nhân</label>
        <input type="text" class="form-control" name="PatientName" id="patientName" placeholder="Nhập Họ và Tên bệnh nhân" required>
        <span id="patientName_error"></span>
      </div>
      <div class="form-group">
        <label for="identityCard">Số CMND/Căn Cước</label>
        <input type="number" class="form-control" name="identityCard" id="identityCard" placeholder="Nhập CMND/Căn Cước" required>
        <span id="identityCard_error"></span>
      </div>
      <div class="form-group">
        <label for="DOB">Ngày tháng năm sinh</label>
        <input type="text" class="form-control" name="DOB" id="DOB" placeholder="Ngày Tháng Năm Sinh" required>
        <span id="DOB_error"></span>
      </div>
      <div class="form-group">
        <label for="ward">Phường/Xã</label>
        <input type="text" class="form-control" id="ward" name="ward" placeholder="Nhập tên phường/xã" required>
        <span id="ward_error"></span>
      </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
          <label for="District">Quận/Huyện</label>
          <input type="text" class="form-control" id="district" name="District" placeholder="Nhập tên quận/huyện" required>
          <span id="district_error"></span>
        </div>
        <div class="form-group">
          <label for="province">Tỉnh/Thành phố</label>
          <input type="text" class="form-control" id="province" name="province" placeholder="Nhập tên tỉnh/thành phố" required>
          <span id="province_error"></span>
        </div>
        <div class="form-group">
          <label for="Status">Trạng thái Bệnh nhân</label>
          <input type="text" class="form-control" id="status" name="Status" placeholder="Nhập Trạng thái Bệnh nhân" required>
          <span id="status_error"></span>
        </div>
        <div class="form-group">
          <label for="hospitalID">ID Nơi điều trị</label>
          <input type="number" class="form-control" id="hospitalID" name="hospitalID" placeholder="Nhập Trạng thái Bệnh nhân" required>
          <span id="hospitalID_error"></span>
        </div>
        <div class="form-group">
          <label for="patient_ref">ID Người liên quan</label>
          <input type="number" class="form-control" id="patient_ref" name="patient_ref" value="-1" placeholder="Nhập Trạng thái Bệnh nhân" required>
          <span id="patient_ref_error"></span>
        </div>
    </div>
  </div>

  <button  type="submit" onclick="validate()" class="btn btn-primary">Submit</button>
</form>

<style>
  span{
    color:red;
    display: block;
    padding: 5px 0px;
  }
  
</style>

<script>
  function isNum(val){
  return !isNaN(val)
}
  //validate username
  const username = document.getElementById('username');
  const username_error = document.getElementById('username_error');
  username.addEventListener('change', Fusername_error)
  function Fusername_error(e) {
    let username = e.target.value;
    if(username[0]<= 9 && username[0] >= 0){
      username_error.textContent = "Tài khoản không được bắt đầu bằng số!";
    }else if(username.length < 8){
      username_error.textContent = "Tài khoản phải từ 8 kí tự trở lên!";
    }else{
      username_error.textContent ="";
    }
  }
  // validate ngay thang nam sinh
  const year = document.getElementById("DOB");
  const year_error = document.getElementById("DOB_error");
  year.addEventListener('change', Fyear_error)
  function Fyear_error(e) {
    let year = e.target.value;
    if(isNum(year)){
      year_error.textContent = "";
    }else{
      year_error.textContent = "Năm sinh phải bằng số!";
    }
  }
</script>