<h2>Thay đổi hạn mức thanh toán</h2>
<form method="post" action="">
  <div class="form-group">
    <label for="limit">Hạn mức</label>
    <input type="number" class="form-control" id="limit" name="limit" placeholder="Nhập hạn mức thanh toán">
    <p style="color: red; font-style: italic;">{{error}}</p>
  </div>
  <button type="submit" class="btn btn-primary">Thay đổi</button>
</form>